$black-color: #040404;
$pin-color: #dc145c;
$pin-hover-color: #9b083d;

$white-color: #fff;
$gray-color: #e9f0f7;
$gray-title-color: #787880;

// media

$desktop: 1440px;
$table: 767px;
$mobile: 420px;

// z-indexes

$sticky-z: 1;
